{:paths ["src" "resources"]
 :aliases
 {:repl
  {:extra-deps  {cider/cider-nrepl {:mvn/version "LATEST"}}
   :main-opts   ["-m"           "nrepl.cmdline"
                 "--middleware" "[cider.nrepl/cider-middleware]"]}

  :dev
  {:extra-paths ["dev"]
   :extra-deps  {hiccup/hiccup {:mvn/version "2.0.0-RC4"}}}}}
