[:html
 [:head
  [:link {:rel "stylesheet" :href "https://fonts.cdnfonts.com/css/inter"}]
  [:link {:rel "stylesheet" :href "public/design_system.css"}]]
 [:div
  [:pre
   (str
    {:data/options          {:type "vector"}
     :data/loading?         {:type "boolean"}
     :data/open?            {:type "boolean"}
     :content/target        {:type "hiccup"}
     :content/dropdown      {:type "hiccup"}
     :content/options-empty {:type "hiccup"}
     :attrs/combobox        {:type "object"}
     :attrs/target          {:type "object"}
     :attrs/dropdown        {:type "object"}
     :attrs/search          {:type "object"}
     :attrs/option          {:type "object"}
     :attrs/option-preload  {:type "object"}
     :attrs/options-empty   {:type "object"}
     :attrs/options         {:type "object"}
     })]
  [:div {:class "m-5 grid grid-cols-[355px_355px_355px_355px_355px_355px_355px] gap-4"}

   (design-system.core/e-combobox
    {})

   (design-system.core/e-combobox
    {:content/target "Organization"})

   (design-system.core/e-combobox
    {:content/target [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"]})

   (design-system.core/e-combobox
    {:data/open?            true
     :content/target        [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"]
     :content/options-empty "No resource type found"})

   (design-system.core/e-combobox
    {:data/open?     true
     :data/loading?  true
     :content/target [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"]})

   (design-system.core/e-combobox
    {:content/target [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"]
     :data/open?     true
     :data/options   [{:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Patient"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"] :attrs/item {:aria-selected "true"}}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Encounter"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Practitioner"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Observation"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Condition"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Medication"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "MedicationRequest"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "AllergyIntolerance"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Procedure"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "DiagnosticReport"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Immunization"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "CarePlan"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Appointment"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Device"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Location"]}]})

   (design-system.core/e-combobox
    {:attrs/combobox {:onclick "console.log('combobox')"}
     :attrs/target   {:onclick "console.log('target')"}
     :attrs/dropdown {:onclick "console.log('dropdown')"}
     :attrs/search   {:onclick "console.log('search')" :value "console logs test"}
     :attrs/option   {:onclick "console.log('option')"}
     :attrs/options  {:onclick "console.log('options')"}
     :data/open?     true
     :data/options   [{:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Patient"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Organization"] :attrs/item {:aria-selected "true"}}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Encounter"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Practitioner"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Observation"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Condition"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Medication"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "MedicationRequest"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "AllergyIntolerance"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Procedure"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "DiagnosticReport"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Immunization"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "CarePlan"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Appointment"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Device"]}
                      {:content/item [:span.flex.items-center.gap-1 design-system.core/i-build "Location"]}]})]]]
